{% extends "base.html" %}

{% block content %}
<h3 id="releaseTitle">…</h3>
  <div id="translations">
    <p>Choose Translation:</p>
    <!-- Radio buttons for translations will be added here dynamically -->
  </div>
  
  <div id="seasons">
    <p>Choose Season:</p>
    <!-- Radio buttons for seasons will be added here dynamically -->
  </div>
  
  <div id="qualities">
    <p>Choose Quality:</p>
    <!-- Radio buttons for qualities will be added here dynamically -->
  </div>
  
  <button id="toggleFavorite">Add to Favorites</button>
  
  <button id="downloadStream">Download Stream</button>
  <button id="watchStream">Watch Stream</button>
  
  <!-- The player element will be added here dynamically -->
  <div id="player"></div>
<script src="{{ url_for('static', filename='release.js') }}"></script>
{% endblock %}
