{% extends "base.html" %}

{% block content %}
<h3 id="releaseTitle">…</h3>
  <div id="translations">
    <p>Loading Translations…</p>
    <!-- Radio buttons for translations will be added here dynamically -->
  </div>
  
  <div id="seasons">
    <p>Loading Seasons…</p>
    <!-- Radio buttons for seasons will be added here dynamically -->
  </div>
  
  <div id="episodes">
	  <p>Loading Episodes…</p>
  </div>
  
  <div id="qualities">
    <p>Loading Qualities…</p>
    <!-- Radio buttons for qualities will be added here dynamically -->
  </div>
  
  <button id="toggleFavorite">Add to Favorites</button>
  
  <button id="watchStream">Watch Stream</button>
  
  <!-- The player element will be added here dynamically -->
  <div id="player"></div>
<script src="{{ url_for('static', filename='release.js') }}"></script>
{% endblock %}
